---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import ArticleList from '../components/ArticleList';
import Container from "../components/Container";

const dateFormat = "yyyy-MM-dd";

const allArticles = Astro.fetchContent('./articles/**/*.md');

---
<html lang="ja">
  <head>
    <BaseHead url={Astro.request.canonicalURL} />
  </head>

  <body>
    <BlogHeader />
    <Container>
      <ArticleList articles={allArticles} />
    </Container>
    <BlogFooter />
  </body>
</html>