---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import { Article } from '../models/Article';
import { ArticleList } from '../components/ArticleList';
import { Container } from '../components/Container';
import { fetchYukuZennArticles, fetchUbieZennArticles } from '../libs/fetchZennArticles';
import { Footer } from '../components/Footer';

const rawInternalArticles = await Astro.glob('./articles/**/*.md');
const internalArticles: Article[] = rawInternalArticles.map((article) => ({
  source: 'internal',
  publishDate: new Date(article.frontmatter.publishDate),
  title: article.frontmatter.title as string,
  url: article.url as string,
}));
const yukuZennArticles = await fetchYukuZennArticles();
const ubieZennArticles = await fetchUbieZennArticles();
---

<html lang="ja">
  <head>
    <BaseHead url={Astro.url.toString()} />
  </head>

  <body>
    <BlogHeader />
    <Container>
      <ArticleList articles={[...internalArticles, ...yukuZennArticles, ...ubieZennArticles]} />
    </Container>
    <Footer />
  </body>
</html>
