---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Container from "../components/Container.astro";

let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/**/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html>
  <head>
    <BaseHead path="/" />
  </head>

  <body>
    <BlogHeader />
    <Container>
      {allPosts.map(p => <BlogPostPreview post={p} />)}
    </Container>
    <BlogFooter />
  </body>
</html>