---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Container from "../components/Container.astro";

let allPosts = Astro.fetchContent('./posts/**/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---
<html>
  <head>
    <BaseHead path="/" />
  </head>

  <body>
    <BlogHeader />
    <Container>
      {allPosts.map(p => <BlogPostPreview post={p} />)}
    </Container>
    <BlogFooter />
  </body>
</html>