---
import { format } from "date-fns";

export interface Props {
  title: string;
  author: string;
  publishDate: string;
}

const { title, publishDate } = Astro.props;
const formattedDate = format(new Date(publishDate), "yyyy-MM-dd");
---

<article>
  <div>
    <p class="date">{formattedDate}</p>
    <h1 class="title">{title}</h1>
  </div>
  <div class="markdown-body">
    <slot />
  </div>
  </article>

<style lang="scss">
@use "github-markdown-css/github-markdown.css";

.date {
  color: var(--color-gray);
}
.title {
  margin-bottom: 20px;
}
.markdown-body {
  line-height: 1.7;
}
</style>
