@use '../styles//github.css';

.date {
  color: var(--color-gray);
}
.title {
  margin-bottom: 20px;
}
.markdown-body {
  line-height: 1.8;
  font-size: 1.05em;

  & pre {
    background-color: #2b2b2b;
  }
}


.markdown-body p {
  margin-bottom: 1.6em;
}
