---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="article">
  <div class="date">{post.publishDate}</div>
  <a href={post.url}><h1 class="title">{post.title}</h1></a>
</article>

<style lang="scss">
.article {
  padding: 8px 0;

  .date {
    font-size: 14px;
    color: var(--color-gray);
  }
  .title {
    font-size: 18px;
  }
}
</style>
