---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
}

const { title, author, publishDate } = Astro.props;
---

<article>
  <div>
    <p class="date">{publishDate}</p>
    <h1 class="title">{title}</h1>
  </div>
  <div class="markdown-body">
    <slot />
  </div>
  </article>

<style lang="scss">
@use "github-markdown-css/github-markdown.css";

.date {
  color: var(--color-gray);
}
.title {
  margin-bottom: 20px;
}
</style>
