<header class="footer">
  <div class="links">
    <a href="https://github.com/Monchi" target="_blank" rel="noopener">GitHub</a>
    <a href="https://twitter.com/MonchiFC" target="_blank" rel="noopener">Twitter</a>
  </div>
  <div class="note">&copy; Yuku Kotani | This site uses Google Analytics.</div>
</header>

<style lang="scss">
.footer {
  padding-top: 32px;
  text-align: center;
  .links {
    font-size: 14px;
    & > a {
      margin: 0 4px;
    }
  }
  .note {
    font-size: 12px;
    padding: 8px 0px 16px;
  }
}
</style>
