.footer {
  padding-top: 32px;
  display: flex;
  flex-direction: column;

  .profile {
    margin: 0 auto;
    display: flex;
    align-items: center;

    .icon {
      object-fit: cover;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      margin-right: 20px;
    }
    .name {
      font-weight: bold;
    }
    .description {
      font-size: 12px;
    }
  }
  .links {
    padding-top: 16px;
    text-align: center;
    font-size: 14px;
    & > a {
      margin: 0 4px;
    }
  }
  .note {
    text-align: center;
    font-size: 12px;
    padding: 8px 0px 16px;
  }
}
