.container {
  min-height: 100vh;
  padding: 0 2rem;
}

.icons {
  margin: 0 auto;
}

.icons > a > img {
  height: 3rem;
  margin: 1rem;
}

.main {
  max-width: 800px;
  margin: 0px auto;
  overflow-wrap: break-word;
  padding: 5rem 0 8rem;
}

.footer {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title > a {
  color: inherit;
  text-decoration: none;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.2;
  font-size: 1.5rem;
}
