.container {
  min-height: 100vh;
  padding: 0 2rem;
}

.main {
  max-width: 800px;
  margin: 0px auto;
  overflow-wrap: break-word;
  padding: 5rem 0 8rem;
}

.footer {
  max-width: 800px;
  height: 100px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.articles {
  max-width: 800px;
  min-width: 100%;
  padding-top: 16px;
  border-top: 2px #222222 solid;
}

.article {
  margin-bottom: 8px;
}

.articleTitle {
  font-size: 18px;
}
